doctype html
html
   head
      title contact
      style
         include style.css
   body
       
      include ./header.pug

      p  
         |You can contact us at this Email adress 
         strong #{email} 
         |or this number 
         strong #{number}!